<link rel="stylesheet" href="/css/pw.css">

<main>
    <!-- form -->
    <div class="row">
        <form action="/change-pw" method="POST" class="col s12 m4 14 offset-m4">
            <div class="card">
                <div class="card-action black white-text">
                    <h4>Reset Password</h4>
                </div>

                <div class="card-content">
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </div>
                    <div class="input-field">
                        <label for="password">New Password</label>
                        <input type="password" id="password">
                    </div>
                    <div class="input-field">
                        <label for="password">Confirm Password</label>
                        <input type="password" id="repeat-password">
                    </div>
                    <div class="form-field center-align">
                        <a href="/customer-backend" class="btn-large waves-effect waves-green red darken-3">Okie</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>