<script type="text/javascript" src="../js/profile.js"></script>
<link rel="stylesheet" href="/css/back.css">

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col l6 s12 m6">
                    <div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title center-align">Personal Info</span>
                            <div class="divider container"></div>
                            <br>
                            <br>
                            <br>
                            <div id="my-detail" class="container"></div>
                        </div>

                        <div class="card-action center-align pbs">
                            <input type="submit" id="editBtn" value="Edit" class="btn red darken-3" /></input>
                        </div>
                    </div>
                </div>

                <div class="col l6 s12 m6">
                    <div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title center-align">Plan Detail</span>
                            <div class="divider container"></div>
                            <br>
                            <br>
                            <br>
                            <div class="container">

                                <div id="SubscriptionDetail" class="row"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

    <section>
        <div class="row center-align sob">
            <a class="btn red darken-3" href="/">sign out</a>
        </div>
    </section>
</main>

<br>
<br>