<link rel="stylesheet" href="/css/done.css">


<main>
    <section id="tick">
        <div class="container">
            <div class="row center-align">
                <i class="far fa-check-circle"></i>
            </div>

            <div id="#done-detail" class="row center-align white-text"> </div>

            <div class="row center-align">
                <a class="btn red darken-3" href="/customer-backend
                        ">Go Back To Home</a>
            </div>


        </div>
    </section>





</main>