<link rel="stylesheet" href="/css/home.css">


<main>
    <!-- Section: Slider -->
    <section id="Home" class="slider">
        <ul class="slides">
            <li>
                <img class="center" src="/img/home-images/slides/1.jpeg">
                <!-- random image -->
                <div class="caption center-align">
                    <h1 class="white-text">Enjoy Wine without the hassle</h1>
                    <h2 class="light white-text text-lighten-3 hide-on-small-only">Tried of going everywhere to search for the wine that fits your taste?</h2>
                    <br>
                    <br>
                    <a href="/signup" class="get btn-large waves-effect waves-light red darken-3">Let's Start The Journey!</a>
                </div>
            </li>
            <li>
                <img class="center" src="/img/home-images/slides/2.jpeg">

                <div class="caption center-align">

                    <h1 class="white-text">Premium quality wine at your fingertips</h1>
                    <h2 class="light white-text text-lighten-3 hide-on-small-only">You don't have to go everywhere looking for what you want!</h2>
                    <br>
                    <br>
                    <a href="/signup" class="get btn-large waves-effect waves-light red darken-3">Let's Start The Journey!</a>
                </div>
            </li>
            <li>
                <img class="center" src="/img/home-images/slides/3.jpg">

                <div class="caption center-align">

                    <h1 class="white-text">Want to feel elegent at a low cost?</h1>
                    <h2 class="light white-text text-lighten-3 hide-on-small-only">Don't need to be rich brat to enjoy something</h2>
                    <br>
                    <br>
                    <a href="/signup" class="get btn-large waves-effect waves-light red darken-3">Let's Start The Journey!</a>
                </div>
            </li>
        </ul>
    </section>
    <br>
    <br>
    <br>


    <!--Section: About Us-->
    <section id="about-us" class="center-align">
        <div class="container">
            <h3>About Us</h3>
            <p>Wine2U was founded in 2018 because of a shared belief that wine should be more accessible: simpler to get and
                easier to enjoy. We offers personalized tasting plans, where customers can appreciate the wines and talk
                to staff for specific information and advice. All staff undergo the internationally recognised Wine and Spirit
                Education Trust (W.S.E.T.) wine training - so when they recommend a wine, they"ve tasted it and know its
                background. And if they don"t have specific information, they will find out.</p>
        </div>



    </section>
    <br>
    <br>
    <br>

    <!--Breakline-->
    <div class=" container divider white">
    </div>
    <br>
    <br>
    <br>

    <section id="features" class="container">
        <div class="row">

            <div class="col l7 m6 s12 center">
                <img class="images" src="/img/home-images/others/discover.jpeg">
            </div>


            <div class="col l5 m6 s12 right-align">
                <h4>Discover your favorites.</h4>
                <p>We have many styles of wine to discover. Completely suit your taste well</p>

            </div>
        </div>

        <div class="row mobile">
            <div class="col l7 m6 s12">
                <h4>We Deliver</h4>
                <p>Each month’s selection is sent straight to your door. Wine delivery has been known to create great amounts
                    of joy.</p>
            </div>
            <div class="col l5 m6 s12">
                <img class="images" src="/img/home-images/others/deliver.png">
            </div>
        </div>
        <div class="row">

            <div class="col l5 m6 s12 center">
                <img class="images" src="/img/home-images/others/cheers.jpg">
            </div>
            <div class="col l7 m6 s12 right-align">
                <h4>Cheers!</h4>
                <p>We send you numerous wines when you ordered
                    <br> - basically a party in a box.</p>

            </div>
        </div>
    </section>

    <!-- Section: Icon Boxes -->
    <section id="process" class="section section-icons black lighten-4 center">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel black">
                        <i class="material-icons large white-text">assignment</i>
                        <h5 class="white-text">1. Take the test</h5>
                        <p class="white-text"> Answer couple question for us recommend the best wine we have!</p>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel black">
                        <i class="material-icons large white-text">local_shipping</i>
                        <h5 class="white-text">2. Choose Your Plan</h5>
                        <p class="white-text">Choose the plan that you like and input your address to get the items delivered!</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel black">
                        <i class="material-icons large white-text">insert_emoticon</i>
                        <h5 class="white-text">3. Enjoy</h5>
                        <p class="white-text">Sit back, relax and enjoy it during night time or with your friends and love!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>