<link rel="stylesheet" href="/css/res-log.css">


<br>
<br>
<main>
    <div class="row white-text">
        <form action="/login" method="post" class="col l4 s12 m12 offset-l4">
            <div class="card">
                <div class="card-action black white-text">
                    <h5>Login</h5>
                </div>

                <div class="card-content">
                    <div class="input-field">
                        <label for="username">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="input-field">
                        <label>
                            <input type="checkbox">
                            <span>Remember Me</span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-field center-align">
                        <button class="btn-large waves-effect waves-light red">Login</button>
                        <a href="/auth/facebook" class="btn-large waves-effect waves-light indigo">Login with
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <br>
                    <a href="/signup">Create a new Account</a>
                </div>
            </div>
        </form>
    </div>
    </div>
</main>

<br>
<br>
<br>