<link rel="stylesheet" href="/css/qr.css">


<main>
    <!--gallery part-->
    <div class="row">
        <div class="col l5 offset-l1 s12 ">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="/img/quiz-result-images/gallery/w1.png">
                    </li>
                    <li>
                        <img src="/img/quiz-result-images/gallery/w2.png">
                    </li>
                    <li>
                        <img src="/img/quiz-result-images/gallery/w3.png">
                    </li>
                    <li>
                        <img src="/img/quiz-result-images/gallery/w4.png">
                    </li>
                </ul>
            </div>
        </div>

        <!-- wordings -->
        <div class="col l5 offset-l1 s12 words">

            <div class="row container white-text">
                <h1 class="center-align white-text">Details</h1>
                <P class="left-align ">
                    the stories behind the wine, the towns and the terroirs. After all, that’s what makes good wine great. It’s the details,
                    the passion, and the people. We combine old-world access with our patented fractioning technology to
                    bring the experience to you, our member. Life is too short to drink bad wine. We’re here to help.</P>
                <div class="divider"></div>
            </div>

            <div class="row white-text container">
                <h2 class="center-align">Your Quiz Result</h2>
                <span>We think the wines above shall fit your taste. Go to the next page and you'll find your suitable plan</span>
            </div>

            <div class="row center-align container">
                <a class="btn red darken-3 waves-effect waves-light white-text" href="/subscription">Proceed</a>
            </div>

        </div>
    </div>
</main>