<link rel="stylesheet" href="/css/ques.css">


<main>
    <section class="quiz">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <div class="row ">
                            <h4 class="header2">Questionnaire about Your Preference</h4>
                        </div>
                        <div class="row">
                            <form class="col s12" target="/questionnaire" method="post">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <select name="gender">
                                            <option value="0" disabled selected>Choose</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                            <option value="3">Prefer not to say</option>
                                        </select>
                                        <label>1. Select Gender</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <select name="age">
                                            <option value="0" disabled selected>Choose</option>
                                            <option value="1">18 - 25</option>
                                            <option value="2">26 - 33</option>
                                            <option value="3">34 - 41</option>
                                            <option value="4">42 - 49</option>
                                            <option value="5">50 or above</option>
                                        </select>
                                        <label>2. Select Age Group</label>
                                    </div>
                                </div>
                                <div class="row divider"></div>
                                <div class="row rowt">
                                    <div class="input-field col l6 s6">
                                        <select name="frequency">
                                            <option value="0" disabled selected>Choose</option>
                                            <option value="1">Once a Month</option>
                                            <option value="2">Twice a Month</option>
                                            <option value="3">Once a Week</option>
                                            <option value="4">Twice a Week</option>
                                            <option value="5">Everyday of the Week</option>
                                        </select>
                                        <label>3. How often do you drink wine?</label>
                                    </div>
                                    <div class="col l6 s6 center-align">
                                        <img class="qi" src="/img/quiz-images/q1.jpeg">
                                    </div>
                                </div>
                                <div class="row rowt">
                                    <div class="input-field col l6 s6">
                                        <select name="taste">
                                            <option value="0" disabled selected>Choose</option>
                                            <option value="1">Fruity Taste</option>
                                            <option value="2">Dry Taste</option>
                                            <option value="3">Fine Taste</option>
                                            <option value="4">Never tasted Wine before</option>
                                        </select>
                                        <label>4. What taste do you prefer?</label>
                                    </div>
                                    <div class="col l6 s6 center-align">
                                        <img class="qi" src="/img/quiz-images/q2.jpeg">
                                    </div>
                                </div>
                                <div class="row rowt">
                                    <div class="input-field col l6 s6">
                                        <select name="price">
                                            <option value="0" disabled selected>Choose</option>
                                            <option value="1">$100-$320 /Bottle</option>
                                            <option value="2">$321-$600 /Bottle</option>
                                            <option value="3">$601-$1000 /Bottle</option>
                                            <option value="4">$1000 or above /Bottle</option>
                                        </select>
                                        <label>5. What is your Prefered Price Range?</label>
                                    </div>
                                    <div class="col l6 s6 center-align">
                                        <img class="qi" src="/img/quiz-images/q3.jpeg">
                                    </div>
                                </div>
                                <div class="row center-align">
                                    <br>
                                    <br>
                                    <br>
                                    <input href="/qr" class="btn red waves-effect waves-light" type="submit" value="submit" name="submit">                                        <i class="mdi-content-send"></i>

                                    </input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>