<link rel="stylesheet" href="/css/signup.css">


<br>
<br>
<main>
    <div class="row white-text">
        <form action="/signup" method="post" class="col l4 s12 m12 offset-l4">
            <div class="card">
                <div class="card-action black white-text">
                    <h5>Register Account</h5>
                </div>

                <div class="card-content">
                    <div class="input-field">
                        <label for="username">Email</label>
                        <input class="white-text" type="email" name="email" id="username">
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input class="white-text" type="password" name="password" id="password">
                    </div>
                    <br>
                    <div class="form-field center-align">
                        <input type="submit" value="Sign Up" class="btn-large waves-effect waves-light red"></input>
                        <a href="/auth/facebook" class="btn-large waves-effect waves-light indigo right-align">Use
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<br>
<br>
<br>