<link rel="stylesheet" href="/css/sub.css">

<main>

    <section id="sub-plan">

        <!-- Space -->
        <br>
        <br>
        <br>
        <br>
        <!-- Choices -->

        <div class="row white-text container">

            <div class="col l3 offset-l1 s12 card black red-border">
                <div class="card-content">
                    <span class="card-title center-align">Monthly</span>
                    <p>
                        <ul>
                            <li>
                                <br>
                                <br>
                                <br> - Get 4
                                <br> bottles in total
                            </li>
                            <br>
                            <li>
                                - 10% off for extentsion or top-up
                            </li>
                            <br>
                            <li>
                                - Suit for indiviual wine-lover
                            </li>
                            <br>
                            <li>
                                - Free-shipping
                            </li>
                            <br>
                            <br>
                            <br>
                        </ul>
                    </p>

                    <div class="center-align">
                        <span>100 WINE</span>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="btn red darken-3" id="s1" href="/checkout">subscribe</a>
                </div>
            </div>

            <div class="col l3 offset-l1 s12 card black">
                <div class="card-content">
                    <span class="card-title center-align">Seasonal</span>
                    <p>
                        <ul>
                            <li>
                                <br>
                                <br>
                                <br> - Get 12 bottles in total
                            </li>
                            <br>
                            <li>
                                - 15% off for extension or top-up
                            </li>
                            <br>
                            <li>
                                - Suitable for couples or beginner
                            </li>
                            <br>
                            <li>
                                - Free-shipping
                            </li>
                            <br>
                            <br>
                            <br>
                        </ul>
                    </p>

                    <div class="center-align">
                        <span>300 WINE</span>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="btn red darken-3" id="s2" href="/checkout">subscribe</a>
                </div>
            </div>

            <div class="col l3 offset-l1 s12 card black">
                <div class="card-content">
                    <span class="card-title center-align">Yearly</span>
                    <p>
                        <ul>
                            <li>
                                <br>
                                <br>
                                <br> - Get 48 bottles in total
                            </li>
                            <br>
                            <li>
                                - 25% off for extentsion or top-up
                            </li>
                            <br>
                            <li>
                                - Get 2 bottles of new wines for free
                            </li>
                            <br>
                            <li>
                                - Free-shipping
                            </li>
                            <br>
                            <br>
                            <br>
                        </ul>
                    </p>

                    <div class="center-align">
                        <span>1200 WINE</span>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="btn red darken-3" id="s3" href="/checkout">subscribe</a>
                </div>
            </div>

        </div>

    </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/subscription.js"></script>

</main>