html {
    background-color: #000000;
    color: #ffffff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    font-family: 'Philosopher', sans-serif;
}

.card {
    font-family: 'Cinzel', serif;
    border: groove;
    border-color: #ffffff;
}

.card span {
    font-size: 6vh !important;
}

.pbs {
    display: flex;
    justify-content: space-evenly;
}

.sob {
    font-family: 'Cinzel', serif;
}


/* footer */

h6 {
    font-family: 'Cinzel', serif;
    font-size: 3vh;
}

footer {
    font-family: 'Cinzel', serif;
}


/* social media icons*/

.fa-facebook {
    font-size: 40px;
    color: #FFFFFF;
}

.fa-twitter {
    font-size: 40px;
    color: #FFFFFF;
}

.fa-instagram {
    font-size: 40px;
    color: #FFFFFF;
}