html {
    background-color: #000000;
    color: #ffffff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    font-family: 'Philosopher', sans-serif;
}

main {
    flex: 1 0 auto;
}

main button {
    font-family: 'Cinzel', serif;
}

.card {
    background: rgba(0, 0, 0, .6);
    border-color: white;
    border-style: groove;
    font-family: 'Cinzel', serif;
}

.login {
    margin-top: 100px;
}

<<<<<<< HEAD:files/register-login/assets/css/res-log.css

label {
=======
.label {
>>>>>>> 5eb6cfe6bd1d32e0ad13a7a6da67e3b643c2f522:public/css/signup.css
    font-size: 16px;
    color: #ffffff;
}

input {
    color: #FFFFFF;
}


/* footer */

footer {
    font-family: 'Cinzel', serif;
}


/* social media icons*/

.fa-facebook {
    font-size: 40px;
    color: #FFFFFF;
}

.fa-twitter {
    font-size: 40px;
    color: #FFFFFF;
}

.fa-instagram {
    font-size: 40px;
    color: #FFFFFF;
}